# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
.venv/

# VSCode settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Log and data files
*.log

# Python environment variables or temp files
.env
*.sqlite3